[hosts]
192.168.1.111
192.168.1.112
192.168.1.113

[setup/ansible/yum]

[setup/chkrootkit/1.0]
[setup/docker/yum]

[setup/fastdfs/5.05]

[setup/gluster/yum]

[setup/heketi/yum]

[setup/helm/yum]

[setup/java/1.8.0]

[setup/kernel-ml/yum]

[setup/kubeadm/yum]

[setup/nginx/1.16.1]

[setup/openssl/1.1.1d]

[setup/php/7.1.32]


[setup/pureftpd/1.0.49]


[setup/python/3.7.4]

[setup/redis/5.0.5]

[setup/template/1.0]

[all:vars]
#ansible_user=root
#ansible_ssh_pass=Zxa82813011
